# --------------------------------------------------
# Répertoire : /www/
# --------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Changement de la localisation du fichier d'erreur 404 vvers index.php
ErrorDocument 404 /errors/error404.html
ErrorDocument 500 /errors/error400.html