.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #fff;
}

.form1 {
    background-color: #fff;
    min-width: 300px;
    padding: 40px 50px;
    padding-bottom: 10px;
    border-top: 10px;
}

.form1 h1 {
    color: #eb7371;
    text-align: center;
}

.form1 .inputs {
    display: flex;
    flex-direction: column;
}

.form1 .inputs input[type='text'], input[type='password'], input[type='email'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(132, 139, 200, 0.18);
    outline: none;
    margin-bottom: 15px;
}

.form1 button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .form1 {
        padding: 20px 10px
    }
}